[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
uvicorn = "*"

[dev-packages]
black = "*"
httpx = "*"

[requires]
python_version = "3.11"
